
body{
  width: 100%;
  
}

ul{list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(19, 19, 66);
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

li{display: inline;
    float: right;}

li a{
    display: block;
    color: white;
    text-align:center ;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover{
    background-color: #D2691E;
}


.active{
    background-color: #333;
}

.btn{
    background-color: white;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    background-color: #D2691E;

}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: white;
    margin:6px 0;
    transition: 0.4s;
    margin-left: 20px;
    
  }

 .bar3:hover{
    background-color: #D2691E;
  }
  
  .bar2:hover{
    background-color: #D2691E;

  }

  .bar1:hover{
    background-color: #D2691E;
  }

  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  footer{
    text-align: center;
    padding: 3px;
    background-color:rgb(17, 16, 16);
    color: rgb(153, 151, 151);
    display: block;
    
  
  }

  .container{
    position: relative;
    text-align: center;
    color: white;
  
  }

  .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

 